@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --bs-warning-rgb: 86, 136, 199;
  --bs-font-sans-serif: "Karla", sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
}

.display-1{
  font-size: clac(1.625rem + 5vw);
  font-weight: 100;

}